:where(.css-dev-only-do-not-override-1kuana8).ant-modal .ant-modal-footer >.ant-btn+.ant-btn {
    margin-inline-start: 8px;
    background-color: #1677FF;
}
.custom-img-crop {
    width: 300px;
    height: 300px;
  }