.ant-btn {
  height: 40px;
}

.ant-btn-lg {
  height: 48px;
}

.ant-btn-loading-icon {
  display: flex !important;
}

.ant-notification-notice {
  padding: 12px 16px;

  .ant-notification-notice-message {
    margin-bottom: 0;
    margin-left: 36px;
    color: var(--colors-white);
    font-size: 14px;
    font-weight: 400;
  }

  .ant-notification-notice-icon {
    margin-left: 0;
  }

  .ant-notification-notice-close {
    top: 10px;
    right: 16px;
    color: var(--colors-white);
  }
}

.ant-form-item {
  margin-bottom: 0px;
}

::-webkit-input-placeholder {
  /* Edge */
  color: var(--colors-grey-6);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--colors-grey-6);
}

::placeholder {
  color: var(--colors-grey-6);
}
.ant-form-item-label > label {
  color: var(--colors-grey-8);
}
.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
  display: inline-block;
  margin-right: 4px;
  color: var(--colors-red-5);
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}
.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none;
}
.ant-checkbox-wrapper {
  color: var(--colors-grey-8);
}
.ant-checkbox-inner,
.ant-checkbox-wrapper.ant-checkbox-wrapper-in-form-item input[type='checkbox'] {
  width: 20px;
  height: 20px;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--colors-blue-6);
  border-color: var(--colors-blue-6);
}
.ant-checkbox-checked .ant-checkbox-inner::after {
  left: calc(50% - 4px);
  top: calc(50% - 1px);
  border: 1px solid var(--colors-white);
  border-top: 0;
  border-left: 0;
}
.ant-checkbox-inner {
  border-radius: 4px;
}

.ant-radio-wrapper.ant-radio-wrapper-in-form-item input[type='radio'],
.ant-radio-inner {
  width: 20px;
  height: 20px;
}
.ant-radio-inner {
  border-color: var(--colors-grey-4);
  border-width: 2px;
}
.ant-radio-inner::after {
  background-color: var(--colors-blue-6);
  width: 10px;
  height: 10px;
}
.ant-radio-checked .ant-radio-inner {
  border-color: var(--colors-blue-6);
}
.ant-radio-inner::after {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
}

input {
  &:focus {
    box-shadow: none !important;
  }
}

textarea,
input {
  color: var(--colors-grey-9);
  font-family: var(--font-family) !important;
}
