* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/login-bg.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  padding: 50px 0;
}

.content {
  width: 90%;
  max-width: 500px;
  height: auto;
  max-height: 300px;
  background-color: #fff;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
