.ant-menu-item,
.ant-menu-submenu-title {
  font-size: 14px;
  font-family: Arial, sans-serif;
  font-weight: 300;
  box-shadow: inset 0px -1px 0px #f3f3f3;
  border-radius: 0px !important;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
  line-height: 40px;
  list-style: none;
}
.ant-menu-vertical,
.ant-menu-inline {
  padding: 0px 10px !important;
}
.ant-menu-title-content {
  flex: none !important;
}
@media screen and (max-width: 1024px) {
  .ant-menu-title-content {
    font-size: small;
  }
}
// =================== SIDER ===================
:where(.css-dev-only-do-not-override-1rqnfsa).ant-menu-light .ant-menu-item,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-menu-light
  > .ant-menu
  .ant-menu-item,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-menu-light
  .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-menu-light
  > .ant-menu
  .ant-menu-submenu-title {
  color: #8c8c8c;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-1rqnfsa).ant-menu-light>.ant-menu .ant-menu-item-selected {
  background-color: transparent;
  color: #1677ff;
}

.ant-menu-submenu-title:hover,
.ant-menu-item:not(.ant-menu-item-selected1):hover {
  background-color: #1890ff !important;
  color: #fff !important;
  font-weight: bold;
}
