@import "./styles//antd-customized.scss";
// @import '~bootstrap/scss/bootstrap';

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .label-header {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--colors-grey-9);
    margin-left: 12px;
  }
  .shadow-bottom {
    box-shadow: inset 0px -1px 0px var(--colors-grey-3);
  }
  .shadow-top {
    box-shadow: inset 0px 1px 0px var(--colors-grey-3);
  }
  .padding-13-24 {
    padding: 13px 24px;
  }
}

body {
  font-family: Arial, sans-serif !important;
}

@layer components {
  .svg-default-color {
    path[fill] {
      fill: theme("colors.white");
    }

    path[stroke] {
      stroke: theme("colors.white");
    }
  }
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: inline;
  vertical-align: baseline;
}

.no-disable .ant-radio-disabled + span {
  color: rgb(95, 95, 95);
}

// ẩn nhập bảng màu
#rc-editable-input-2 {
  display: none;
}

//=============
:where(.css-dev-only-do-not-override-1rqnfsa).ant-table-wrapper
  .ant-table-tbody
  .ant-table-row.ant-table-row-selected
  > .ant-table-cell {
  background: #45474a;
  color: #ffff;
  font-weight: 600;
}
//=================== fix config checkbox style antd and taiwind ==============

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #1677ff;
  border-color: #1677ff;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-checkbox-checked
  .ant-checkbox-inner:after {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
//=========================
// fix dấu sao required
.ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::after {
  content: "";
}

// =================== TABLE ===================
@media screen and (max-width: 1024px) {
  // responsive table
  :where(.css-dev-only-do-not-override-1kuana8).ant-table-wrapper
    .ant-table.ant-table-small
    .ant-table-title,
  :where(.css-dev-only-do-not-override-1kuana8).ant-table-wrapper
    .ant-table.ant-table-small
    .ant-table-footer,
  :where(.css-dev-only-do-not-override-1kuana8).ant-table-wrapper
    .ant-table.ant-table-small
    .ant-table-cell,
  :where(.css-dev-only-do-not-override-1kuana8).ant-table-wrapper
    .ant-table.ant-table-small
    .ant-table-thead
    > tr
    > th,
  :where(.css-dev-only-do-not-override-1kuana8).ant-table-wrapper
    .ant-table.ant-table-small
    .ant-table-tbody
    > tr
    > th,
  :where(.css-dev-only-do-not-override-1kuana8).ant-table-wrapper
    .ant-table.ant-table-small
    .ant-table-tbody
    > tr
    > td,
  :where(.css-dev-only-do-not-override-1kuana8).ant-table-wrapper
    .ant-table.ant-table-small
    tfoot
    > tr
    > th,
  :where(.css-dev-only-do-not-override-1kuana8).ant-table-wrapper
    .ant-table.ant-table-small
    tfoot
    > tr
    > td {
    font-size: x-small;
  }

  // responsive tên card
  .ant-card-head-title {
    font-size: small;
  }

  // responsive form
  // title
  .ant-form-item .ant-form-item-label > label {
    font-size: smaller;
  }
  // input
  .ant-input-outlined {
    font-size: smaller;
  }
  .ant-input-number .ant-input-number-input {
    font-size: smaller;
  }

  // content radio
  :where(.css-dev-only-do-not-override-1kuana8).ant-radio-wrapper
    span.ant-radio
    + * {
    font-size: smaller;
  }

  // select content
  .ant-select-show-search:where(
      .css-dev-only-do-not-override-1kuana8
    ).ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    font-size: smaller;
  }

  :where(.css-dev-only-do-not-override-1kuana8).ant-select-outlined:not(
      .ant-select-customize-input
    )
    .ant-select-selector {
    font-size: smaller;
  }

  :where(.css-dev-only-do-not-override-1kuana8).ant-select-outlined:not(
      .ant-select-customize-input
    )
    .ant-select-selector {
    height: 28px;
  }

  .ant-btn {
    font-size: smaller;
    height: 30px;
  }

  .ant-typography .ant-checkbox {
    font-size: small;
  }
  :where(.css-dev-only-do-not-override-1kuana8)[class^="ant-checkbox"]
    [class^="ant-checkbox"],
  :where(.css-dev-only-do-not-override-1kuana8)[class*=" ant-checkbox"]
    [class^="ant-checkbox"],
  :where(.css-dev-only-do-not-override-1kuana8)[class^="ant-checkbox"]
    [class*=" ant-checkbox"],
  :where(.css-dev-only-do-not-override-1kuana8)[class*="ant-checkbox"]
    [class*=" ant-checkbox"] {
    font-size: smaller;
  }
  .ant-tag {
    font-size: smaller;
    margin-left: 1px;
  }

  :where(.css-dev-only-do-not-override-1kuana8).ant-form-item
    .ant-form-item-explain-error {
    font-size: x-small;
  }

  :where(.css-dev-only-do-not-override-1kuana8).ant-picker
    .ant-picker-input
    > input {
    font-size: smaller;
  }
}

// disable
.ant-input-outlined.ant-input-disabled,
.ant-select-selection-item,
.ant-input-outlined[disabled] {
  color: rgba(0, 0, 0, 0.65);
}
:where(
    .css-dev-only-do-not-override-1kuana8
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  color: rgba(0, 0, 0, 0.65);
}

.ant-input-number-outlined.ant-input-number-disabled input[disabled],
.ant-input-number-outlined[disabled] input[disabled] {
  color: rgba(0, 0, 0, 0.65);
}

[class^="ant-radio"] [class^="ant-radio"],
[class*=" ant-radio"] [class^="ant-radio"],
[class^="ant-radio"] [class*=" ant-radio"],
[class*=" ant-radio"] [class*=" ant-radio"] {
  color: rgba(0, 0, 0, 0.65);
}

:where(
    .css-dev-only-do-not-override-1kuana8
  ).ant-picker-outlined.ant-picker-disabled
  input[disabled] {
  color: rgba(0, 0, 0, 0.65);
}

.mt-2-custom {
}

